html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFF931;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  color: black;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 500;

}

h3{
  color: purple;
}


h2 {
  padding: 0 0 20px 0px;
  font-size: 1.50em;
}

p, ul {
  margin-top: 0;
}

p {
  line-height: 180%;
}

strong {
  color: #2C2C2C;
}

a {
  color: #2C2C2C;
}

a:hover {
  text-decoration: none;
}

a img {
  border: none;
}

img.alignleft {
  float: left;
}

img.alignright {
  float: right;
}

img.aligncenter {
  margin: 0 auto;
}

#wrapper {
  border: 1px dashed green;
  overflow: hidden;
  width: 1200px;
  background-color: #FFFFFF;
  margin: 50px auto;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}



header {
  overflow: hidden;
  height: 150px;
  background-color: purple;
}

#letras {
  float: left;
  width: 350px;
  padding: 40px 0 0 50px;
  text-transform: uppercase;
}

#letras h1 {
  padding: 5px 10px 0 0;
}

#letras h1 a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 300;
  color: #FFFFFF;
}

#letras p {
  display: block;
  margin-top: -10px;
  padding: 0;
  letter-spacing: 1px;
  font-size: 1.2em;
  color: #FFFFFF;
}

#letras p a {
  color: #FFFFFF;
}

nav {
  float: right;
  width: 700px;
  padding: 60px 50px 0 0;
}

nav ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: normal;
}

nav li {
  float: left;
}

nav a {
  display: block;
  margin-left: 1px;
  padding: 7px 0 7px 30px;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: #FFFFFF;
}

#page {
  overflow: hidden;
  width: 1100px;
  margin: 0px 50px;
  padding: 50px 0;
  border-bottom: 1px solid #DEDEDE;
}

#content {
  border: 1px dashed blue;
  float: left;
  width: 750px;
}

#content h2 {
  border: 1px dashed red;
  font-size: 2.10em;
}

aside {
  border: 1px dashed #000;
  float: right;
  width: 300px;
}

footer {
  overflow: hidden;
  margin: 0 50px;
  padding: 30px 0;
  border-top: 5px solid #000000;
}

footer p {
  text-align: center;
}

footer a {
  color: #545454;
}

#three-columns {
  border: 1px dashed yellow;
  overflow: hidden;
  margin: 0 50px;
  padding: 50px 0;
}

#three-columns #one {
  border: 1px dashed red;
  float: left;
  width: 300px;
  margin-right: 50px;
}

#three-columns #two {
  border: 1px dashed #B6D270;
  float: left;
  width: 400px;
}

#three-columns #three {
  border: 1px dashed #F08533;
  float: right;
  width: 300px;
}

ul.style1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.style1 li {
  padding: 25px 0 15px 0;
  border-top: 1px solid #DEDEDE;
}

ul.style1 .first {
  padding-top: 0;
  border-top: none;
}

ul.style1 h3 {
  padding: 0 0 10px 0;
}

ul.style1 h3 a {
  text-transform: none;
  color: #373737;
}

ul.style1 a {
  text-decoration: none;
  color: #919191;
}

ul.style1 a:hover {
  text-decoration: underline;
}

ul.style2 {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.style2 li {
  padding: 10px 0 15px 0;
  border-top: 1px solid #DEDEDE;
}

ul.style2 .uno {
  padding-top: 0;
  border-top: none;
}

ul.style2 a {
  text-decoration: none;
  color: #545454;
}

ul.style2 a:hover {
  text-decoration: underline;
}


form{
background: gray;
color: brown;


}
